/* Debug Class */

.debug .container-fluid {
  border: 1px solid blue;
}

.debug .container {
  border: 1px solid black;
}

.debug nav {
  height: 80px;
  border: 1px solid red;
}

.debug .row {
  border: 1px solid grey;
  height: 200px;
}

.debug [class*='col'] {
  border: 1px solid red;
  height: 100%;
}


/* Usable Properties */

.jungleGreen {
  color: #22AD96;
}

.white {
  color: #FFF;
}

.btn {
  padding: 10px 25px;
}

.btn-primary {
  background-color: #22AD96;
  border: 1px solid #22AD96;
}

.btn-primary:hover {
  background-color: #513E5E;
  border: 1px solid #513E5E;
}

.btn-secondary {
  background-color: #FFF;
  border: 1px solid #FFF;
  color: #513E5E;
}

.btn-secondary:hover {
  background-color: #F0EFEF;
  border: 1px solid #F0EFEF;
  color: #22AD96;
}

.cardContainer {
  padding: 20px 0;
  display: flex;
}

/* Layout properites */

body {
  color: #513E5E;
}

a {
  color: inherit;
}

[id*="section"] {
  padding: 40px 0;
}

/* header */

header {
  background-image: url('../img/jumbo-overlay.svg');
  background-color: #F0EFEF;
}

nav .row {
  height: 70px;
  display: flex;
  align-items: center;
}

nav .logo > img {
  width: 200px;
}

nav .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.menu > ul > li {
  list-style: none;
  padding: 0 5px;
}

.menu > * {
  margin: 0 20px;
}

.jumbotron {
  background-color: inherit;
  padding-left: 0;
  padding-right: 0;
}

.jumbotron .row {
  display: flex;
  align-items: center;
}

.jumbotron .col-8 {
  text-align: right;
}

/* section 1 */

#section1 .row {
  margin-bottom: 30px;
}

.cardContainer .card {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.card img {
  width: 150px;
  height: 150px;
  margin: 20px 0;
}

.card h4 {
  margin: 15px 0;
}

.card p {
  margin-bottom: 25px;
}

/* section 2 */

#section2 .col:first-child {
  background-image: url('../img/underlay-shape-lilla.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 60%;
}

#section2 .box {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 15px 15px 15px #F0EFEF;
  margin-bottom: 30px;
}

#section2 .title {
  background-color: #22AD96;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#section2 .title img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #959999;
}

#section2 .title img:hover {
  cursor: pointer;
}

#section2 .title h6 {
  margin-bottom: 0;
}

#section2 .box > p {
  padding: 15px 10px;
  display: none;
}

/* section 3 */

#section3 {
  background-color: #F0EFEF;
}

#section3 .number {
  font-size: 25px;
  font-weight: bold;
}

/* section 4 */

#section4 {
  background-image: linear-gradient(#FFF, #F6F6F6);
}

#section4 h1 {
margin-bottom: 50px;
}

#section4 .course {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  margin: 30px 15px;
}

#section4 .course:hover {
  background-color: #FFF;
  box-shadow: 15px 15px 15px #F0EFEF;
}

#section4 .course .courseImg {
  width: 100%;
}

#section4 .course .courseDescription {
  padding: 10px 25px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#section4 .course .courseDescription .teacher > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

#section4 .course .courseTop .price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #22AD96;
  border-bottom-left-radius: 10px;
  padding: 10px 15px;
  font-weight: bold;
}

#section4 .course .courseDescription > h4 {
  margin-bottom: 40px;
  margin-top: 15px;
}

#section4 .course .courseDescription span:first-child {
  margin-right: 25px;
}

#section4 button {
  padding-left: 30px;
  padding-right: 30px;
}

/* section 5 */

#section5 .col-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section5 ul {
  list-style: none;
  padding-left: 0;
}

#section5 ul > li > i {
  margin-right: 10px;
}

#section5 .col-7 {
  background-image: url('../img/underlay-shape-grey.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 70%;
  position: relative;
}

#section5 .col-7 img:first-child {
  margin-bottom: 70px;
}

#section5 .col-7 img:last-child {
  position: absolute;
  right: 0;
  bottom: 20%;
}

/* section 6 */

#section6 .col-7 {
  background-image: url('../img/underlay-shape-grey.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 70%;
  position: relative;
  padding-right: 30px;
}

#section6 .col-7 img:first-child {
  margin-bottom: 40px;
  z-index: 1;
}

#section6 .col-7 img.shape:nth-child(2) {
  position: absolute;
  left: -80px;
  bottom: 50%;
}

#section6 .col-7 img.shape:last-child {
  position: absolute;
  right: 45px;
  bottom: 20%;
  z-index: -1;
}
