/* Debug Class */

.debug .container-fluid {
  border: 1px solid blue;
}

.debug .container {
  border: 1px solid black;
}

.debug nav {
  height: 80px;
  border: 1px solid red;
}

.debug .row {
  border: 1px solid grey;
  height: 200px;
}

.debug [class*='col'] {
  border: 1px solid red;
  height: 100%;
}


/* Usable Properties */

.jungleGreen {
  color: #22AD96;
}

.btn-primary {
  background-color: #22AD96;
  border: 1px solid #22AD96;
}

.btn-primary:hover {
  background-color: #513E5E;
  border: 1px solid #513E5E;
}

.cardContainer {
  padding: 20px 0;
  display: flex;
}

/* Layout properites */

body {
  color: #513E5E;
}

a {
  color: inherit;
}

/* header */

header {
  background-image: url('../img/jumbo-overlay.svg');
  background-color: #E9E6E3;
}

nav .row {
  height: 70px;
  display: flex;
  align-items: center;
}

nav .logo > img {
  width: 200px;
}

nav .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.menu > ul > li {
  list-style: none;
  padding: 0 5px;
}

.menu > * {
  margin: 0 20px;
}

.jumbotron {
  background-color: inherit;
  padding-left: 0;
  padding-right: 0;
}

.jumbotron .row {
  display: flex;
  align-items: center;
}

.jumbotron .col-8 {
  text-align: right;
}

/* section 1 */

#section1 .row {
  margin-bottom: 30px;
}

.cardContainer .card {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.card img {
  width: 150px;
  height: 150px;
  margin: 20px 0;
}

.card h4 {
  margin: 15px 0;
}

.card p {
  margin-bottom: 25px;
}

/* section 2 */
